#main_div
  - url = url_for(:action => 'form_field_changed', :id => "#{@volume.id || "new"}")

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Name')
      .col-md-8
        = text_field_tag("name",
                          @edit[:new][:name],
                          :maxlength => 50,
                          :class => "form-control",
                          "data-miq_focus" => true,
                          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)

  = render(:partial => '/layouts/edit_form_buttons', :locals  => {:ajax_buttons => true, :record_id => @volume.id})
